
<div class="landing-page-container">
    <div class="landing-header">
        <div class="landing-header-item">
            <b>Make the Change to a better YOU!!! </b>
        </div>
    </div>
    <div class="flex-contain-grid">
        <div class="grid-container-left">
            <div class="image-container">
                <img class="image-left" src="../../../assets/guyWithPhone2.jpg"/>
            </div>
            <div class="text-container shadow">
                <h1>
                    ANYTIME!!!
                </h1>
                <h2>
                    Great Deals for Everyone!
                </h2>
                <h5>
                    Weather you are looking to switch providers or expand your current devices MIMT has you covered!
                </h5>
                <h6>
                    Plans from $20.99 to $110.99
                </h6>
                
            </div>
        </div>
        <div class="grid-container-right">
            <div class="justify-right">
                <div class="text-container shadow">
                    <h1>
                        Make Connections
                    </h1>
                    <h2>
                        Mint Moble doesn't just provide cellular services
                    </h2>
                    <h5>
                        We provide a way for you to connect to others as beneficial member of society
                    </h5>  
                </div>
            </div>
            <div class="justify-left">
                <div class="image-container">
                    <img class="image-right" src="../../../assets/holdingPhone.jpg"/>
                </div>
            </div>
        </div>
        <div class="grid-container-left">
            <div class="image-container">
                <img class="image-left" src="../../../assets/guyWithPhone3.jpg"/>
            </div>
            <div class="text-container shadow">
                <h1>
                    Self Improvement!
                </h1>
                <h2>
                    Our services can help you become a better person
                </h2>
                <h5>
                    By choosing to partner with the goals of MIMT you have set yourself on a trajectory that could potentially change the world
                </h5>
                
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-secondary text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; MIMT Moble</small>
    </div>
  </footer>