
<div *ngIf="User?.userName">
<table class="table align-middle mb-0 bg-white shadow">
  <thead class="bg-light">
    <tr>
      <th>Plan Name</th>
      <th>Device Limit</th>
      <th>Price</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of Plans">
      <td>
        <div class="d-flex align-items-center">
          <img
              src="../../assets/cart.png"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{plan.planName}}</p>
            <p class="text-muted mb-0">#{{plan.id}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Total Devices: {{plan.deviceLimit}}</p>
      </td>

      <td>${{plan.price}}</td>
      <td>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                [routerLink] = "['/update', plan.id]"
                >
                <a [routerLink] = "['/update', plan.id]">Edit</a>
        </button>
      </td>
    </tr>

  </tbody>
</table>
<div class="button-container">
    <button (click)="redirect()" type="button" class="btn btn-primary">Add Plan</button>
</div>
<div class="total-container">
    <div class="card shadow" style="width: 500px;">
        <div class="card-body">
          <h5 class="card-title">Monthly Bill</h5>
          <h6 class="card-subtitle mb-2 text-muted">Account Total ${{TotalCost}}</h6>
          <p class="card-text">Please call our convenience line if you have any plan concerns at: 888-420-8080</p>
          <a href="#" class="card-link">Home Page</a>
        </div>
      </div>
</div>
</div>
