<!-- THIS APP ROUTES DIRECTLY TO LANDING  -->


<h1>BUY OUR STUFF</h1>
<!-- Nav bar Displayed below and is visible for all pages -->
<nav class="nav-bar-container">
  <div class="nav-bar-container">
    <a class="nav-bar-item" routerLink="/plans" routerLinkActive="active" ariaCurrentWhenActive="page">plans</a>
    <a class="nav-bar-item" routerLink="/landing" routerLinkActive="active" ariaCurrentWhenActive="page">tempLanding</a>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet>
</router-outlet>
