<!-- THIS APP ROUTES DIRECTLY TO LANDING  -->



<!-- Nav bar Displayed below and is visible for all pages -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand padding-left" href="#">MIMT MOBLE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link navbar-custom" href="/planCreation">Plans</a>
      <a class="nav-item nav-link navbar-custom" href="/devices">Devices</a>
      <a class="nav-item nav-link navbar-custom" href="/user">User</a>
      <a class="nav-item nav-link navbar-custom" href="/login">Login</a>
      <a class="nav-item nav-link navbar-custom" href="/signup">Signup</a>
    </div>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet>
</router-outlet>

