.image-item{
    background-image: url("../../../../src/assets/guyWithPhone.jpg");
    height: 350px;
    border-radius: 15px;
    width:525px;
    position: absolute;
    padding-top: 10px;

    background-size: 100% 100%;
}
.image-text{
    border-radius: 5px;
    width:25vw;
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: transparent;
    color: black;
    font: 24px italic Georgia;
    font-style: italic;
    padding-left: 20px;
    padding-right: 60px;
    background: linear-gradient(to right, white, transparent 80%);
}
.image-container{
    display:flex;
    justify-content: flex-end;
    margin-right: 5vw;
    margin-top: 3vh;

}
.page-header{
    padding-top:2vh;
    display: flex;
    justify-content: center;
}
.plan-page-container{
    background-image: linear-gradient(176deg, #ffffff 70%, #00b7ff calc(70% + 2px));
    height: 94.4vh;
}
.device-creation-container{
    display: grid;
    grid-template-columns: 50vw 50vw;

}
.num-devices{
    padding-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.devices-info{
    padding-top: .5vh;
    padding-left: 3vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.device-items{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.center-this{
    display: flex;
    align-items: center;
}
.form-item-container{
    min-width: 420px;
    padding:5px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.form-container{
    padding: 10px;
    border-radius: 10px;
    border:rgb(212, 212, 212);
    border-style: solid;
    border-width: 1px;
}
.form-item{
    margin-left: 10px;
    margin-right: 10px;
}
.form-labels{
    display: flex;
    justify-content: space-around;
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-color: rgb(196, 196, 196);;
}
.plan-card-container{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    width:1000;
}

  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .pricing hr {
    margin: 1.5rem 0;
  }

  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }

  .pricing .card-price {
    font-size: 2.5rem;
    margin: 0;
    width: 250px;
  }

  .pricing .card-price .period {
    font-size: 0.8rem;
  }

  .pricing ul li {
    margin-bottom: 1rem;
  }

  .pricing .text-muted {
    opacity: 0.7;
  }

  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  /* Hover Effects on Card */

  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  .card-body{
    border: solid;
    border-width: 1px;
    border-color: #d4d4d4;
    border-radius: 17px;
  }
  .selected{
    border-width: 2px;
    border-color: rgb(64, 185, 255);
  }
  .pin-to-bottom{
    position:absolute;
    left:25%;
    bottom: 35px;
  }

  .minus-button{
    margin-right: 15px;
    border:solid;
    border-color: #00b7ff;
    border-radius: 20px;
    border-width: 2px;
    background-color: #00b7ff;
    color: white;

    padding-top:0px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    user-select: none;
  }
  .minus-button:hover{
    background-color: #5dd1ff;
  }
  .plus-button{
    margin-left: 15px;
    border:solid;
    border-color: #00b7ff;
    border-radius: 20px;
    border-width: 2px;
    background-color: #00b7ff;

    padding-top:0px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    user-select: none;
    color: white;
  }
  .plus-button:hover{
    background-color: #5dd1ff;
  }
  .submit-button{
    position: absolute;
    right: 230px;
    bottom: 50%;
  }
  .button-styling{
    background-color: #00b7ff;
    color: white;
    padding: 10px 20px;
    border: solid;
    border-radius: 20px;
  }
  .button-styling:hover{
    background-color:#5dd1ff
  }
