<div class="container text-center">
  <br/>
    <div>
        <h1>Registration - Sign Up</h1>
    </div>
    <br/>
    <form (ngSubmit)="create(); userForm.reset()"  #userForm>
    <div class="m-3">
        <div class="form-group row" style="justify-content: center; margin-right: 6%;">
            <label for="Name" class="col-1 col-form-label" ><span style="font-weight: bold">Name:</span> </label>

                <input [(ngModel)]="credentials.name" type="text" class="form-control" name="Name" id="Name" required minlength="0" maxlength="50" #Name="ngModel"
                style="max-width: 400px; "/>


        </div>
        <div  *ngIf="Name.invalid && (Name.dirty || Name.touched)">
          <div *ngIf="Name.errors?.['required']"><span style="color: red">Name is required</span></div>
      </div>
        <br/>
        <div class="control-label form-group row" style="justify-content: center; margin-right: 6%;">
            <label for="Email" class="col-1 col-form-label"><span style="font-weight: bold">Email:</span> </label>

                <input [(ngModel)]="credentials.email" type="Email" name="Email" class="form-control" required #Email="ngModel" style="max-width: 400px; "/>

        </div>
        <div  *ngIf="Email.invalid && (Email.dirty || Email.touched)">
          <div *ngIf="Email.errors?.['required']"><span style="color: red">Email is required</span></div>
      </div>
        <br/>
        <div class="control-label form-group row" style="justify-content: center; margin-right: 6%;">
            <label for="Password" class="col-1 col-form-label"><span style="font-weight: bold">Password:</span> </label>

                <input [(ngModel)]="credentials.password" type="password" class="form-control" name="Password" id="Password" required minlength="6" maxlength="20" #Password="ngModel"
                style="max-width: 400px; "/>

        </div>
        <div  *ngIf="Password.invalid && (Password.dirty || Password.touched)">
          <div *ngIf="Password.errors?.['required']" ><span style="color: red">Password is required</span></div>
      </div>
      <br />
        <div>
            <button type="submit" class="btn btn-primary" value="Save">Sign Up</button>
        </div>
        <br />
      <div *ngIf="this.errorMsg">
        {{errorMsg}}
      </div>
        <div>
          Already Have an account? Login  <a [routerLink]="['/login']">here</a>
      </div>
    </div>
    </form>
</div>
